<div class="layout">
  <div class="layout__nav-wrapper"></div>
  <div class="layout__body-wrapper">
    <div class="layout__body-heading"></div>
    <div class="layout__body-search">
        <div class="control" [ngClass]="{ 'is-loading': isLoading }">
      <input
        type="text"
        #searchInput
        class="input"
        placeholder="Type book name"
      />
    </div>
    </div>
    <div class="layout__body-content"></div>
  </div>
  <div class="layout__footer-wrapper"></div>
</div>
