<div class="layout">
  <div class="layout__nav-wrapper"></div>
  <div class="layout__body-wrapper">
    <div class="layout__body-heading"></div>
    <div class="layout__body-search">
      <div
        class="layout__body-search--content"
        [ngClass]="{ 'is-loading': isLoading }"
      >
        <div class="layout__body-search--content---bar">
          <i
            class="fa-solid fa-magnifying-glass layout__body-search--content---bar----icon icon-hover"
          ></i>
          <input
            type="text"
            #searchInput
            class="layout__body-search--content---bar----input"
            placeholder="Type book name"
          />
          <!-- <button type="submit" class="layout__body-search--content---bar----button">Go</button> -->
        </div>
      </div>
    </div>
    <div class="layout__body-content"></div>
  </div>
  <div class="layout__footer-wrapper"></div>
</div>
